.experience {
  .browser--icon {
    position: relative;

    .icon {
      &:nth-child(1) {
        margin-bottom: 25px;
      }

      &:nth-child(2) {
        display: none;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .experience {
    .browser--icon {
      position: relative;
  
      .icon {
        &:nth-child(1) {
          position: relative;
          top: 60px;
          left: 0;
          z-index: $zIndex1;
          width: auto;
        }
  
        &:nth-child(2) {
          position: absolute;
          top: 0;
          right: 0;
          display: block;
        }
      }
    }
  }
}
