.happy-birthday {
  align-items: center;
  display: flex;
  height: 100vh;

  h1 {
    margin-top: 45px;
    opacity: 0;
    transition: 500ms ease-in-out opacity;
    position: absolute;
    z-index: 15;
  }

  &.isShown {
    h1,
    .card {
      position: relative;
      opacity: 1;
    }

    .envelope {
      display: none;
    }
  }

  .envelope {
    background-color: white;
    position: relative;
    padding: 60px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 500ms ease-in-out transform;
    animation: acrossThrough 1.5s ease-in-out;
    transform: translateX(1024px);

    .stamp {
      background-color: color(red);
      border: 3px dashed white;
      height: 70px;
      width: 60px;
      position: absolute;
      top: 30px;
      right: 30px;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        background-image: url("../../Assets/images/queen.svg");
        background-repeat: no-repeat;
        width: 45px;
        height: 60px;
      }
    }

    .address-lines {
      span {
        background-color: black;
        display: block;
        height: 5px;
        width: 250px;
        margin-bottom: 20px;

        &:nth-child(2) {
          width: 210px;
        }

        &:nth-child(3) {
          width: 80px;
        }
      }
    }
  }

  .card {
    position: absolute;
    opacity: 0;
    transition: 500ms ease-in-out opacity;
  }

  .balloon-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    animation: floatUp 5s ease-in-out;
    transform: translateY(0);
    height: 100%;
    overflow: hidden;

    &.isPartyTime {
      .balloon {
        opacity: 1;
      }
    }
  }

  // https://codepen.io/JeffreyTaylor/pen/jzohC
  .balloon {
    display: inline-block;
    width: 120px;
    height: 145px;
    background: color(yellow);
    border-radius: 80%;
    position: relative;
    box-shadow: inset -10px -10px 0 rgba(0, 0, 0, 0.07);
    margin: 20px 30px;
    transition: transform 0.5s ease, opacity ease-in-out 500ms;
    z-index: 10;
    animation: balloons 4s ease-in-out infinite;
    transform-origin: bottom center;
    opacity: 0;

    &:before {
      content: "▲";
      font-size: 20px;
      color: color(yellow);
      display: block;
      text-align: center;
      width: 100%;
      position: absolute;
      bottom: -12px;
      z-index: -100;
    }

    &:after {
      display: inline-block;
      top: 153px;
      position: absolute;
      height: 250px;
      width: 1px;
      margin: 0 auto;
      content: "";
      background: rgba(255, 255, 255, 0.9);
    }

    &:nth-child(2) {
      background: color(green);
      animation-duration: 3.5s;

      &:before {
        color: color(green);
      }
    }

    &:nth-child(3) {
      background: color(purple);
      animation-duration: 2s;

      &:before {
        color: color(purple);
      }
    }

    &:nth-child(4) {
      background: color(pink);
      animation-duration: 4s;

      &:before {
        color: color(pink);
      }
    }

    &:nth-child(5) {
      background: color(orange);
      animation-duration: 2.5s;

      &:before {
        color: color(orange);
      }
    }
  }

  .settings {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 100;
    padding-right: 15px;
    opacity: 0;
    transition: opacity ease-in-out 2s;

    &.isDelayed {
      opacity: 1;
    }

    &__input {

      .sketch-picker {
        margin-bottom: 15px;
      }

      label {
        margin-right: 5px;
        margin-bottom: 5px;
      }

      .btn {
        margin-bottom: 5px;
      }

      input {
        border: none;
        margin-bottom: 5px;
        padding: 5px;
      }
    }

    &__box {
      background-color: #eeeeee;
      padding: 10px;
      transition: opacity ease-in-out 300ms;
      border-radius: 6px;

      &.isOpen {
        opacity: 1;
      }

      &.isClosed {
        opacity: 0;
      }
    }

    &__icon {
      padding-top: 15px;
      cursor: pointer;
    }

    &__pill {
      margin-left: 10px;
      background-color: white;
      border-radius: 25px;
      padding: 3px 10px;
    }
  }
}

@keyframes floatUp {
  0% {
    opacity: 0;
    transform: translateY(1024px);
  }
  10%,
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes acrossThrough {
  0% {
    transform: translateX(-1024px);
  }
  10%,
  90% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1024px);
  }
}

@keyframes balloons {
  0%,
  100% {
    transform: translateY(0) rotate(-4deg);
  }
  50% {
    transform: translateY(-25px) rotate(4deg);
  }
}

@include viewport-up(md) {
  .happy-birthday {
    .balloon-wrapper {
      position: relative;
      overflow: initial;
    }

    .settings {
      top: 75%;
      bottom: unset;
      transform: translateY(-75%);

      &__icon {
        text-align: right;
      }
    }
  }
}
