.header-wrapper {
  width: 100%;
  padding: 20px 0;
  z-index: $z50;
  transition: padding ease-in-out 300ms;
  
  &.header-scroll {
    position: fixed;
    top: 0;
    left: 0;
  }
}

.header-logo {
  width: 161px;
  transition: width ease-in-out 300ms;

  p {
    font-weight: 900;
    text-transform: uppercase;
  }
}

.letter__space {
  letter-spacing: .9px;
}
