.icons {
  display: none;
}

@include viewport-up(md) {
  .icons {
    display: block;
    &__wrapper {
      display: block;
    }

    .icon {
      position: absolute;
      bottom: 0;
      opacity: 0;
      transition: opacity 10ms ease-in-out, 500ms ease-in-out transform,  400ms ease-in-out right;
      right: 0;
      transform: translateY(-1024px);
    }

    &--who {
      &.hasMoved {
        .icon {
          &--code {
            right: 89%;
            z-index: 2;
          }
  
          &--plus {
            right: 82%;
            z-index: 1;
            // animation-delay: -0.5s;
          }
  
          &--heart {
            right: 72%;
            z-index: 5;
            // animation-delay: -1s;
          }
  
          &--pencil {
            right: 63%;
            // animation-delay: -0.75s;
          }
  
          &--no {
            right: 55%;
            z-index: 5;
            // animation-delay: -1s;
          }
  
          &--ya {
            right: 48%;
            // animation-delay: -1.2s;
          }
  
          &--dots {
            right: 40%;
            z-index: 3;
            // animation-delay: -0.8s;
          }
  
          &--ok {
            right: 34%;
            z-index: 4;
            // animation-delay: -0.65s;
          }
  
          &--cursor {
            right: 24%;
            z-index: 2;
            // animation-delay: -0.9s;
          }
  
          &--hash {
            right: 16%;
            z-index: 0;
            // animation-delay: -1.5s;
          }
  
          &--exclaim {
            right: 9%;
            z-index: 1;
            // animation-delay: -0.2s;
          }
  
          &--heart2 {
            right: 0;
            z-index: 1;
            // animation-delay: -0.5575s;
          }
        }
      }

      .icon {
        opacity: 1;
        transform: translateY(0) translateX(0);
        animation: roll 5s ease-in-out;
        right: -100%;
      }
    }

    &.hasTransform {
      .icon {
        opacity: 1;
        animation: down 1.45s ease-in-out;
        transform: translateY(0);

        &--code {
          right: 34%;
          z-index: 2;
        }

        &--plus {
          right: 27%;
          z-index: 1;
          animation-delay: -0.5s;
        }

        &--heart {
          right: 20%;
          z-index: 5;
          animation-delay: -1s;
        }

        &--pencil {
          right: 12%;
          animation-delay: -0.75s;
        }

        &--no {
          right: 5%;
          z-index: 5;
          animation-delay: -1s;
        }

        &--ya {
          right: -2%;
          animation-delay: -1.2s;
        }

        &--ok {
          right: 14%;
          bottom: 10%;
          z-index: 4;
          animation-delay: -0.65s;
        }

        &--dots {
          right: 8%;
          bottom: 14%;
          z-index: 3;
          animation-delay: -0.8s;
        }

        &--cursor {
          right: 0;
          bottom: 15%;
          z-index: 2;
          animation-delay: -0.9s;
        }

        &--exclaim {
          right: 4%;
          bottom: 26%;
          z-index: 1;
          animation-delay: -0.2s;
        }

        &--heart2 {
          right: -1.5%;
          bottom: 28%;
          z-index: 1;
          animation-delay: -0.5575s;
        }

        &--hash {
          right: 0.3%;
          bottom: 38%;
          z-index: 0;
          animation-delay: -1.5s;
        }
      }
    }
  }
}

@keyframes down {
  0% {
    right: 0;
    opacity: 0;
    transform: translateY(-1024px);
  }
  10%,
  50% {
    right: 0;
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes across {
  0% {
    transform: transformY(0) translateX(-1024px);
  }
  100% {
    transform: transformY(0) translateX(0);
  }
}

@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-720deg);
  }
}

@keyframes wobble {
  33% {
    transform: translateX(-50px);
  }
  66% {
    transform: translateX(50px);
  }
}
