.icons {
  height: 100vh;
  width: 100%;
  position: absolute;

  &__wrapper {
    display: flex;
    justify-content: flex-end;
  }

  .icon {
    position: absolute;
    bottom: 0;

    &--code {
      left: 46%;
      z-index: 2;
    }

    &--plus {
      left: 55%;
      z-index: 1;
    }

    &--heart {
      left: 64%;
      z-index: 5;
    }

    &--pencil {
      left: 75%;
    }

    &--no {
      left: 83%;
      z-index: 5;
    }

    &--ya {
      left: 90%;
    }

    &--ok {
      left: 71%;
      bottom: 10%;
      z-index: 4;
    }

    &--dots {
      left: 80%;
      bottom: 14%;
      z-index: 3;
    }

    &--cursor {
      left: 89%;
      bottom: 15%;
      z-index: 2;
    }

    &--exclaim {
      left: 82%;
      bottom: 26%;
      z-index: 1;
    }

    &--heart2 {
      left: 90%;
      bottom: 28%;
      z-index: 1;
    }

    &--hash {
      left: 89%;
      bottom: 38%;
      z-index: 0;
    }
  }
}

@include viewport-up(xl) {
  .icons {
    .icon {
      &--code {
        left: 53%;
        z-index: 2;
      }

      &--plus {
        left: 60%;
        z-index: 1;
      }

      &--heart {
        left: 68%;
        z-index: 5;
      }

      &--pencil {
        left: 76%;
      }

      &--no {
        left: 84%;
        z-index: 5;
      }

      &--ya {
        left: 92%;
      }

      &--ok {
        left: 78%;
        bottom: 10%;
        z-index: 4;
      }

      &--dots {
        left: 85%;
        bottom: 14%;
        z-index: 3;
      }

      &--cursor {
        left: 92%;
        bottom: 15%;
        z-index: 2;
      }

      &--exclaim {
        left: 87%;
        bottom: 26%;
        z-index: 1;
      }

      &--heart2 {
        left: 94%;
        bottom: 28%;
        z-index: 1;
      }

      &--hash {
        left: 92%;
        bottom: 38%;
        z-index: 0;
      }
    }
  }
}
