.splash {
  padding-top: 41px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  min-height: calc(100vh - 97px);

  &__icons {
    .icon {
      position: absolute;

      &--code {
        bottom: 30px;
        left: 75%;
        z-index: $zIndex2;
      }

      &--heart--pink {
        bottom: -10px;
        left: 10px;

        fill: color(pink);
      }

      &--smiles {
        top: -30px;
        left: -35px;
      }

      &--cursor {
        top: -50px;
        right: -50px;
        z-index: $zIndex2;
      }

      &--peace {
        display: none;
      }

      &--hash {
        display: none;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .splash {
    min-height: calc(100vh - 78px);
    
    .icons__wrapper div {
      background: transparent;
      border-radius: 30px;
      width: 150px;
      height: 150px;
      position: absolute;
      bottom: 30px;
      left: 16%;
    }

    .drag-area {
      position: absolute;
      width: 300px;
      height: 300px;
      bottom: 30px;
      left: 16%;
    }

    &__icons {
      .icon {
        &:hover {
          cursor: grab;
        }

        &:active {
          cursor: grabbing;
        }

        &--code {
          bottom: 30px;
          left: 16%;
        }

        &--heart--pink {
          bottom: -10px;
          left: 10%;
        }

        &--smiles {
          top: 50px;
          left: 10%;
        }

        &--cursor {
          top: -30px;
          right: 20%;
        }

        &--peace {
          top: 5px;
          right: 12%;
          z-index: $zIndex3;
          display: block;
        }

        &--hash {
          bottom: -25px;
          right: 9%;
          display: block;
        }
      }
    }
  }
}
