.card {
  background: black;
  border: 10px solid white;
  border-radius: 0;
  margin-bottom: 30px;
  
  &-body {
    padding: 60px 30px 40px;

    img {
      margin-bottom: 30px;
    }
  }
}

@include viewport-up(md) {
  .card {
    margin-bottom: 0;
    max-width: 400px;
    min-height: 580px;
    margin: 0 auto;

    &-body {
      padding: 60px 50px 40px;
    }
  }
}
