a {
  color: black;
  transition: 300ms color ease-in-out;

  &:hover,
  &:active {
    color: color(green);
    text-decoration: none;
  }
}

body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  height: auto;
  max-width: 100%;
}

.underline {
  text-decoration: underline;

  &:hover,
  &:active {
    text-decoration: none;
  }
}

.background {
  &--black {
    background-color: black;
    color: white;
  }
}
