a {
  color: black;
  transition: 300ms color ease-in-out, border-bottom 300ms ease-in-out;
  border-bottom: 4px solid transparent;

  &:hover,
  &:active {
    color: black;
    text-decoration: none;
    border-bottom: 4px solid color(pink);
  }
}

body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font--chivo;
  letter-spacing: .04em;
}

img {
  height: auto;
  max-width: 100%;
}

section {
  padding: 60px 0;
  overflow: hidden;
}

.underline {
  text-decoration: underline;

  &:hover,
  &:active {
    text-decoration: none;
  }
}

.email {
  &--white {
    color: white;

    &:hover,
    &:active {
      color: white;
    }
  }
}

.background {
  &--black {
    background-color: black;
    color: white;
  }

  &--white {
    background-color: white;
    color: black;
  }
}
