h1,
.h1 {
  @include use-responsive-font('h1');
  font-weight: 900;
}
h2,
.h2 {
  @include use-responsive-font('h2');
  margin-bottom: 24px;
}
h3,
.h3 {
  @include use-responsive-font('h3');
  margin-bottom: 20px;
}
.copy--large {
  @include use-responsive-font('copy--large');
}
