h1,
.h1 {
  @include use-responsive-font('h1');
  font-weight: 900;
}

.h1--large {
  @include use-responsive-font('h1--large');
  font-weight: 900;
}

h2,
.h2 {
  @include use-responsive-font('h2');
  margin-bottom: 24px;
  font-weight: 900;
}

h3,
.h3 {
  @include use-responsive-font('h3');
  margin-bottom: 20px;
  font-weight: 900;
}

.copy--large {
  @include use-responsive-font('copy--large');
}
