// Breakpoints Declarations
// - To add/extend new/custom breakpoints
$grid-breakpoints: () !default;
$grid-breakpoints: map-merge(
  $grid-breakpoints,
  (
    xs: 0,
    xsm: 375px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1440px
  )
);

// Fonts - site specific declaration :
$font--chivo: 'Chivo', sans-serif;
// $font--whiskey: "whiskeybite-duo", sans-serif;
// $font--Karla: "Karla", sans-serif;

// $font--title: $font--whiskey;
// $font--body: $font--Karla;

// .whiskey {
//   font-family: $font--whiskey;
// }

h1,
h2,
h3 {
  font-family: $font--chivo;
}

// body {
//   font-family: $font--body;
// }

// Colors - site specific declaration
$site-colors: (
  green: #16AB59,
  blue: #1663AB,
  purple: #A041FF,
  pink: #F131DE,
  red: #FF4141,
  orange: #FF9141,
  yellow: #FFDB00
);
$colors: () !default;
$colors: map-merge($colors, $site-colors);

// Transitions - site specific declarations
$transitions-types: (
  general: 0.2s ease-in-out,
  lazy-load: 0.5s ease-out
);

// Zindexes
$zIndex1: 1;
$zIndex2: 2;
$zIndex3: 3;

@include base--init();

//  The following entries define default font sizes.
//  - args: name, desktop font-size, tablet font-size, mobile font-size, line-height
@include index-responsive-font('h1--large', 70px, 60px, 38px, 1.2); // h1
@include index-responsive-font('h1', 40px, 38px, 36px, 1.25); // h1
@include index-responsive-font('h2', 30px, 28px, 26px, 1.33); // h2
@include index-responsive-font('h3', 24px, 22px, 20px, 1.25); // h3
// @include index-responsive-font('h4', 24px, 20px, 20px, 1.33); // h4
// @include index-responsive-font('h5', 24px, 18px, 18px, 1.33); // h5
// @include index-responsive-font('h6', 12px, 12px, 12px, 1.33); // h6
@include index-responsive-font('copy--large', 24px, 22px, 20px, 1.5); // copy/p/body
